.card {
    width: 250px;
    background-color: black;
    border-radius: 15px;
    padding: 10px 20px;
}

.poster {
    width: 100%;
}

.image {
    width: 100%;
}

.hitMovie {
    background-color: darkgreen;
}